{% extends 'account_main.html' %}

{% block content %}
</div>

<div class="container">
    <div class="row">
        <div class="menu_bar col-md-3">
            <a href="{% url 'index' %}">
                <h4>RENT N' RIDE</h4>
            </a>
            <ul>
                <li> <a href="{% url 'account' %}">User dashboard</a></li>
                <li> <a href="{% url 'user-ads' %}">My Ads</a></li>
                <li> <a href="{% url 'user-requests' %}">My Requests</a></li>
            </ul>
        </div>

        <div class="col-md-9">
            <div class="profile_bar">
                <div class="profile-image">
                    <img src="{{profile.profile_image.url}}" alt="">


                </div>

                <div class="user_detail">

                    <div class="user_info col-md-6">

                        <ul>
                            <li><strong>Name:</strong><span>{{profile.name}}</span></li>
                            <li><strong>Contact no:</strong><span>{{profile.phone}}</span></li>
                            <li><strong>Date of Birth:</strong><span>{{profile.date_of_birth}}</span></li>
                            <li><strong>Gender:</strong><span>{{profile.gender}}</span></li>
                            
                        </ul>

                    </div>
                    <div class="user-detail col-md-6">

                        <ul>
                            <li><strong>Email:</strong><span>{{ profile.email }}</span></li>
                            <li><strong>Address:</strong><span>{{profile.location}}</span></li>
                            <li><strong>Province:</strong><span>{{profile.province}}</span></li>
                            <li><strong>City:</strong><span>{{profile.city}}</span></li>
                        </ul>
                    </div>

                </div>
                <button class=""><i class="fa fa-edit"></i><a href="{% url 'edit-account' %}">Edit Details</a>
                </button>

            </div>
        </div>
    </div>
</div>

{% endblock content %}