{% load static %}

<header>
	<div class="container">
		<div class="row">

			<div class="logo col-md-3">
				<a href="{% url 'index' %}">
					<img src="{% static 'images/logo.png' %}" class="img-responsive">
				</a>

			</div>

			<div class="nav col-md-9">
				<ul>
					{% if request.user.is_authenticated %}
					<li><a href="{% url 'logout' %}">Logout</a></li>
					<li><a href="{% url 'account' %}">My Account</a></li>
					<li><a href="{% url 'inbox' %}">Inbox</a></li>
					{% else %}
					<li><a href="{% url 'login' %}">Login/Signup</a></li>
					{% endif %}
					
					<!-- <li><a href="#">Verification</a></li> -->
					<li><a href="{% url 'requests-archive' %}">Requests</a></li>
					<li><a href="{% url 'ads-archive' %}">Ads</a></li>
					<!-- <li><a href="{% url 'advanced-search' %}">Advanced Search</a></li> -->

					
					
					<!-- <li>
						<form action="#">
							<input type="search" placeholder="Search  for vehicle.....">
							<button type="submit"><i class="fa fa-search" style="border:none;"></i></button>
						</form>
					</li> -->

				</ul>

			</div>

		</div>
	</div>

</header>

<!-- <h3><i>Navbar</i></h3>
<ul>
	<li><a href="{% url 'create-ad' %}">New Ad</a></li>
	<li><a href="{% url 'create-request' %}">New Request</a></li>
	<li><a href="{% url 'requests-archive' %}">Browse Requests</a></li>
	<li><a href="{% url 'ads-archive' %}">Browse Ads</a></li>
	<li><a href="{% url 'profiles' %}">Browse Users</a></li>

</ul>
<hr> -->