.single-product-wrapper{
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-radius: 5px;
    margin-top: 82px;
    padding: 10px;
    
}
.single-product-wrapper h1{
    font-weight: 700;
}
.single-product-wrapper h2{
    font-weight: 700;
}

.button_replace{
    padding-top: 14px;
}
.button_replace a{
    margin-top:20px;
    width: fit-content;
    padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius:3px;
  font-weight: 800;
  background-color: #941D21;
}

.button_replace a:hover{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    border-radius:2px;
    border: none;
    background-color: #8e8e8e;
    font-weight: 800;
  }

.product-img img{
width: 100%;
}
#pp{
color: #941D21;
font-weight: 600;
}
.product-description{
    font-size:16px;
}

.single-product-wrapper h1{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #941d21;
    margin-bottom: 20px;
}
.leave_review{
    margin: 30px 0px;
}
.leave_review h2{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.review_text{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* align-items: center; */
    width: 60%;
}
form span{
    font-size: 24px;
    display: block;
}
#id_review_rating{
    width: 130px;
    height: 34px;
}
.r_submit{
    padding: 5px 30px;
    margin-top: 10px;
    background-color: #941D21;
    color: #fff;
    letter-spacing: 1px;
}
form h4{
    font-size: 32px;
}

.review_wrap{
    box-shadow: 0px 5px 5px 1px rgb(0 0 0 / 33%);
    background-color: #fff;
    padding: 15px 30px !important;
}
.review_wrap h2{
    font-weight: 600;
}
.total_rate{
    padding: 10px;
    border-top: 1px solid #fff4f4;
}
.total_rate h3{
    font-weight: 500;
}